<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="GoogleUrl" value="https://www.googleapis.com/customsearch/v1?key={KEY}&amp;cx={CX}&amp;q={WORD}" />
    <add key="GoogleApiKey" value="AIzaSyBlPH9rH0VTNL1qg3vIeW0HHDKEzEIwdSQ" />
    <add key="GoogleCustomSearchID" value="001282090977167733655:7hdud20z39c" />
    <add key="BingUrl" value="https://searchtranzact.cognitiveservices.azure.com/bing/v7.0/search?q={WORD}"/>
    <add key="BingApiKey" value="6ca8c96cd5094d369e47d92c33cda264"/>
  </appSettings>
</configuration>